

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


body {
    background-color: rgb(15, 15, 15);
   
}
/* botões */

.btn-custom-white{
    background-color: white;
}
.btn-custom-translucent{
    background-color: rgb(255, 255, 255,0.2);
    color: white;
    margin-left: 5px;
}
.btn-custom-white:hover{
    color: white;
    opacity: 0.8;
    border: 1px solid;

}
.btn-custom-translucent:hover{
    color: white;
    opacity: 0.8;
    border: 1px solid;

}
.btn-custon-round{
    padding: 5px 9px !important;
   
}
.opacity-50{
    opacity:0.5;
}



/* LOGIN */



body.bg_filmes {
    background-image: url(./assets/animaflix.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    
}


.logo {
    display: flex;
    height: 100px;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.69)0%,
            rgba(0, 0, 0, 0)100%);
}

#logo{
    padding:20px;
}
.container-login {
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    align-self: flex-start;
    margin-left: 40px;
    font-size: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.caixa-login {
    background-color: rgb(36, 34, 34, 0.7);
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 450px;
    align-items: center;
    border-radius: 15px;

}

.campos {
    width: 300px;
    height: 45px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(95, 92, 92);
    border: none;
    margin-bottom: 10px;

}
::placeholder{
    font-family: 'Roboto', sans-serif;
    color: rgb(228, 219, 219);
    padding-left:10px;
    font-size:15px ;
}

.element {
    display: flex;
    align-self: flex-start;
    margin-left: 40px;
    margin-top: 10px;
    color: rgb(202, 195, 195);
    font-family: 'Roboto', sans-serif;

}
a{
    color: grey;
}
.button {
    display: flex;
    color: white;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    height: 45px;
    background-color: rgb(214, 70, 70);
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}


/* HOME */


.lista-header{
    list-style: none;
    padding: 25px;
    margin-right: 35px;
    display: flex;
    gap:25px;
    
    
}
.lista-header li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.lista-header li a:hover{
    color:rgb(163, 157, 157);
   
    transition: 0.8;
}
.logo-home img{
    height: 90px;
    padding: 25px;
    
}

.header{
    height: 100px;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.69)0%,
            rgba(0, 0, 0, 0)100%);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width:90%;
    top:0;
    z-index: 2;
}
#hero{
    
    height: 700px;
    background-image: url("./assets/capa-filme.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:0;
    
}

#hero::after{

    content:'';
    width: 100%;
    height:350px;
    display:block;
    background: linear-gradient(180deg,
    rgba(0, 0, 0, 0 )0%,
    #000000 100%);
    position: absolute;
    left: 0;
    z-index: 2;
    top:calc(700px - 350px);

}
#hero_infos{
    padding:0;
    margin-top: 170px;
    z-index:3;
    position: relative;
}
.infos-top img{
    margin-bottom: 15px;
}
.infos-top h1{
    margin-bottom: 10px;
}
.infos-top h1 img{
    margin-right: 15px;
    margin-top: 10px;
}
/* lista de filmes */
.main-content{
    margin-top: 700px;
}
.main-content h5{
    color:white;
    margin-top: 15px;
}

.filme_list{
    overflow-x: scroll;
    list-style:none;
    padding: 0;
    white-space: nowrap;
    padding: 20px 0;
    display:block;
}
.filme_list::-webkit-scrollbar{
    display: none;
}
.filme{
    display: inline-block;
    width: 250px;
    margin-right: 10px;
    border-radius:3px;
    overflow: hidden;
    overflow-y: hidden;
}
.filme:hover{
    cursor:pointer;
    transform: scale(1.2);
    z-index: 999;
    transition:0.8s;
}
.filme:hover .filme-info{
    transform: scale(1);
    transition: 0.8s;
}
.filme:first-child{
    margin-left: 65px;
}
.filme-info{
    background-color: #171717;
    padding: 10px;
    height: 100px;
    width: 100%;
    transform: scale(0);
}
.filme-info .col-12{
    margin-top: 5px; 
}
.filme-info .col-12:first-child{
    margin-bottom: 20px;
}
.filme-info p{
    color: #7E7B7B;
    font-size: 12px;
}
.filme-info p text{
    color:#fff;
}
section{
    margin-bottom: -100px;
}
section:hover{
    z-index: 9;
}
/* modal */

.modal-dialog{
    max-width: 800px;
    
}
.modal-content{
    background-color:#171717;
    border-radius: 5px;
}
.modal-header{
    padding:0;
}
.img_filme{
    background-image: url(./assets/capa-filme.png) ;
    width: 100%;
    height: 350px;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.modal-header::after{
    content: '';
    width: 100%;
    height: 200px;
    display: block;
    background: linear-gradient(180deg,
    rgba(0, 0, 0, 0 )0%,
    #000000 100%);
    position:absolute;
    margin-top: 150px;
    left: 0;
    z-index: 1;
}
.modal-header-infos{
    margin-top: 50px;
    z-index: 2;
   
}
.modal-body{
    margin-left: 30px;
}
.info_filmes div{
    color:white;
}
.img_filme img{
    width: 300px;
    height: 150px;
    margin-top: 50px;
    position: relative;
}

.modal-header-infos button:first-child{
    margin-left: 30px;
}
.filme_descricao{
    font-size: 15px;
    color:white;
    
}
.filme_elenco p, .descricao{
    font-size: 13px;
    color: rgb(255, 255, 255, 0.5);
    margin-bottom: 5px;
}
.filme_elenco text{
    color:white;
}

.lista-episodios {
    margin-right: 30px;
    margin-top: 20px;
}
.temporadas{
    width: 150px;
}
.lista-episodios{
    margin-left: 20px;
}
/* .lista-episodios img{
    width: 200px;
    height: 150px;
} */
#episodio{
    padding: 15px;
}
#episodio:hover{
    cursor: pointer;
    background-color: rgba(255, 249, 249, 0.1);
    transition: 0.8s;
    border-radius: 15px;
}